.sidebar {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  background: linear-gradient(to right, #1f1f1f,#000000) ;
  transition: width 0.3s ease;
  width: 250px; /* Default width when open */
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);

}

.sidebar-item {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  color: white !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-item:hover {
  background-color: white;
  color: black !important;
}

.sidebar h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.sidebar .text-danger {
  font-weight: 600;
  color: white;
}

.sidebar .text-danger:hover {
  background-color: white;
  color: black !important;
}
