.register-form {
    border: 1.5px solid rgba(255,255,255,.5) !important;
    border-radius: 1.5rem !important;
    width: 100% !important;
    padding: 1rem !important;
    background: linear-gradient(to right, #1f1f1f,#000000) ;
}
