.home {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: linear-gradient(to right, #000000, #434343);
  width: 100%;
}