/* custom.css */
:root {
  --bs-body-bg: white;
  --bs-body-color: black;
  --bs-primary: black;
  --bs-secondary: white;

}

body {
  background: linear-gradient(to right, #1f1f1f,#000000) ;
  color: var(--bs-body-bg) !important;
}

.task-list {
  background: linear-gradient(to right, #1f1f1f,#000000) ;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}