/* custom.css */
:root {
  --bs-body-bg: white;
  --bs-body-color: black;
  --bs-primary: black;
  --bs-secondary: white;

}

body {
  background: linear-gradient(to right, #1f1f1f,#000000) ;
  color: var(--bs-body-bg) !important;
}